/* Variables */

:root {
  --Primary-Orange: hsl(35, 77%, 62%);
  --Primary-Red: hsl(5, 85%, 63%);

  /* Neutral */

  --Off-White: hsl(36, 100%, 99%);
  --Grayish-Blue: hsl(233, 8%, 79%);
  --Dark-Blue: hsl(236, 13%, 42%);
  --Very-Dark-Blue: hsl(240, 100%, 5%);
}

@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%
}

html {
  display: flex;
  justify-content: center;
  align-items: start;
}

/* Layout */
body {
  position: relative;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  padding: 1.5em;
  display: grid;
  align-content: center;
  gap: 2em;

  @media (min-width: 55em) {
    max-width: 65em;
  }
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 3em;
  width: 4em;
}

/* Navigation */

.navbar {
  display: none;
}

.navbar.expanded {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 2em;
  width: 70vw;
  min-height: 100vh;
  row-gap: 2em;
  text-align: start;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
}

.navbar ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 2em;
  list-style: none;
  a {
    text-decoration: none;
    color: var(--Very-Dark-Blue);
  }
  a:hover,
  a:active {
    color: var(--Primary-Red);
  }
}

.menu-icon-open-btn,
.menu-icon-close-btn {
  display: block;
  width: 2.5em;
  background-color: transparent;
  border: none;

}

/* Desktop view */
@media (min-width: 35em) {
  .menu-icon-open-btn,
  .menu-icon-close-btn {
    display: none;
  }

  .navbar {
    display: flex;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
  }
}

/* Main Content */
.main {
  display: grid;
  gap: 2em;
}

.top-section {
  display: grid;
  gap: 2em;
  @media (min-width: 35em) {
    display: flex;
  }
}

/* Story of the day */

.story-of-the-day {
  display: grid;
  text-align: start;
  gap: 1em;
}

.story-of-the-day-thumbnail {
  img {
    height: 100%;
  }
}
  .story-of-the-day-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

@media (min-width: 35em) {
  .story-of-the-day-content {
    display: grid;
    grid-template-areas:
      "title content"
      "title button";
    gap: 0.5em;
  }
}
#story-of-the-day-title {
  grid-area: title;
  font-size: 2em;
  font-weight: 800;
}

#story-of-the-day-description {
  grid-area: content;
}

.read-more-btn {
  grid-area: button;
  max-width: 10em;
  border: none;
  color: black;
  background-color: var(--Primary-Red);
  text-transform: uppercase;
  padding: 1em;
  font-weight: 600;

  &:hover {
    color: var(--Off-White);
    background-color: var(--Very-Dark-Blue);
    cursor: pointer;
  }
}

/* New Section */
.new-section {
  min-width: 15em;
  display: grid;
  background-color: var(--Very-Dark-Blue);
  color: var(--Off-White);
  padding: 1em;
  gap: 1em;
}

#new-title {
  color: var(--Primary-Orange);
  font-size: xx-large;
}

.new-cards-wrapper {
  display: grid;
  gap: 1.5em;
}

.new-card-title:hover {
  color: var(--Primary-Orange);
}

.new-card-description {
  font-size: smaller;
}
.new-card:not(:last-child) {
  border-bottom: 1px solid var(--Off-White);
  padding-block-end: 1.5em;
}

/* Trending  */
.trendings-section {
  display: grid;
  gap: 1em;

  @media (min-width: 35em) {
grid-template-columns: repeat(2, 1fr);
  }

   @media (min-width: 45em) {
grid-template-columns: repeat(3, 1fr);
  }
}

.trending-card{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0.5em;
}

.trending-image{
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.trending-content {
  display: grid;
}

.trending-stories-title:hover {
  color: var(--Primary-Red);
}
.trending-rank{
color: var(--Primary-Red);
font-size: 3em;
}




